@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #064232; /* Deep Indigo Blue */
  --color-secondary: #568f87; /* Bright Sky Blue */
  --color-accent: #efa3a4; /* Golden Yellow */
  --color-light: #e1ffee; /* Soft Gray-White */
  --color-dark: #111827; /* Rich Charcoal */
  --color-text-light: #1f2937; /* Cool Gray */
  --color-text-dark: #f9fafb; /* Off White */
  --color-progress: #22c55e; /* Vibrant Green */
  --color-warning: #fce7c3;
  --color-danger: #dc3545;

  --color-foreground: #f7f7f7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.epic-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@utility f-align {
  @apply flex items-center;
}

@utility f-center {
  @apply flex items-center justify-center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

@utility btn {
  @apply text-sm p-3 rounded-xl text-white bg-secondary cursor-pointer;
}

@utility btn-primary {
  @apply bg-primary;
}
@utility btn-secondary {
  @apply bg-secondary;
}

@utility btn-white {
  @apply bg-white text-black;
}

@utility btn-accept {
  @apply bg-progress;
}

@utility btn-danger {
  @apply bg-danger;
}

@utility btn-accent {
  @apply bg-accent;
}

@utility btn-ghost {
  @apply bg-transparent;
}

@utility btn-sm {
  @apply px-2 py-1 text-sm;
}

@utility btn-lg {
  @apply px-3 py-2;
}

@utility btn-xl {
  @apply px-4 py-3 text-base font-medium;
}


@utility btn-round {
  @apply rounded-full;
}
