@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #064232; /* Deep Indigo Blue */
  --color-secondary: #568F87; /* Bright Sky Blue */
  --color-accent: #F5BABB; /* Golden Yellow */
  --color-light: #E1FFEE; /* Soft Gray-White */
  --color-dark: #111827; /* Rich Charcoal */
  --color-text-light: #1f2937; /* Cool Gray */
  --color-text-dark: #f9fafb; /* Off White */
  --color-progress: #22c55e; /* Vibrant Green */
  --color-danger :  #fce7c3;
  --color-foreground: #f7f7f7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.epic-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@utility f-align {
  @apply flex items-center;
}

@utility f-center {
  @apply flex items-center justify-center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}


@keyframes openModal {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-openModal {
  animation: openModal 200ms ease-out forwards;
}


@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 300ms ease-out forwards;
}
